footer .container-fluid{
  background-color: #1a1a1a;
}

footer .footer-copyright{
  background-color: #000000;
}
footer h5{
  color: #4d4d4d;
}
footer ul li a{
  text-decoration: none;
  color: #808080;
}
footer ul li a:hover{
  text-decoration:underline;
  color: #808080;
}
footer ul li{
  list-style-type: none;
}
